*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'elvetica',sans-serif;
}

.background{
    width: 100vw;
    height: 100vh;
    background: rgb(29,163,8);
    background: linear-gradient(180deg, rgba(29,163,8,1) 10%, rgba(218,218,218,1) 10%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-app{
    background-color: black;
    width: 1800px;
    height: 980px;
    display: flex;
}

.col-30{
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.col-70{
    width: 70%;
    height: 100%;
    background-color: blueviolet;
}

.header-col-30, .header-col-70{
    height: 70px;
    background-color: rgb(232, 225, 225);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-user img{
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
}

.img-user{
    margin-left: 20px;
    display: flex;
    align-items: center;

}

.icons{
    display: flex;

}

.icons-header{
    margin: 0 10px;
}

.notifications{
    height: 80px;
    background-color: rgb(29, 94, 163);
    width: 100%;
    display: flex;
    align-items: center;
}

.bell-background i{
    font-size: 30px;
    padding: 10px;
    color: rgb(29, 94, 163);
}

.bell-background{
    background-color: white;
    border-radius: 30px;
    margin-left: 20px;
}

.link-notifications{
    margin-left: 10px;
}

.input input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
}

.input{
    background-color: white;
    padding: 5px
    
}

.user-img{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.user-img img{
    height: 60px;
    border-radius: 30px;
    margin-right: 5px;

}

.icons-space i{
    padding: 0 10px;
}

.main-chat{
    height: 100%;
    background-image: url(../assets/mine.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-chat{
    height: 60px;
    background-color: rgb(199, 188, 188);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.input-chat input{
    height: 90%;
    width: 70%;
    border-radius: 5px;
    border-style: none;
}

.icon-footer{
    font-size: 30px;
    color: rgb(104, 98, 98);
}

.chat-item-list{
    height: 85px;
    background-color: red;
    border: 1px solid black;
}