<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="app">
        <div class="background">
            <div class="container-app">
                <!-- LISTA CONTATTI CHAT  -->
                <div class="col-30">
                    <div class="header-col-30">
                        <div>
                            <div class="img-user">
                                <img src="./assets/avatar_io.jpg" alt="">
                                <h4>Sofia</h4>
                            </div>
                        </div>
                        <div class="icons">
                            <div class="icons-header">
                                <i class="fa-solid fa-circle-notch"></i>
                            </div>
                            <div class="icons-header">
                                <i class="fa-solid fa-message"></i>
                            </div>
                            <div class="icons-header">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                    </div>
                    <div class="notifications">
                        <div class="bell-background">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="link-notifications">
                            <span>Ricevo notifiche di nuovi messaggi</span>
                            <div>
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>
                    </div>
                    <div class="input">
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="nameFilter" @keyup="filterList()">
                    </div>

                    <ul class="chat-list">
                        <li v-for="(item,index) in contacts" class="chat-item-list" @click="changeChat(index)">
                            <div class="card-container" v-if="item.visible">
                                <div class="chat-list-image">
                                    <img :src="getImageUser(index)" alt="">
                               </div>
                               <div>
                                    <h4 class="user-chat-name">{{item.name}}</h4>
                                    <span class="last-access">Ultimo messaggio inviato</span>
                               </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- FINE LISTA CONTATTI CHAT  -->

                <!-- MAIN CHAT  -->
                <div class="col-70">
                    <div class="main-chat">
                        <div class="header-col-70">
                            <div class="user-img">
                                <img :src="getImageUser(contatore)" alt="">
                                <div>
                                    <h3>Michele</h3>
                                    <span>ultimo accesso oggi alle 12:00</span>
                                </div>
                            </div>
                            <div class="icons-space">
                                <div class="icons-space">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <i class="fa-solid fa-paperclip"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                        </div>
                        <div class="chat-messages">
                            <div v-for="(message,index) in contacts[contatore].messages" :class="(contacts[contatore].messages[index].status == 'sent') ? 'message-send' : 'message-receive'" >
                                <p>{{message.message}}</p>
                            </div>
                        </div>
                        <div class="input-chat">
                            <div class="icon-footer">
                                <i class="fa-regular fa-face-smile"></i>
                            </div>
                            <input v-model="newMessage" @keypress.enter="sendNewMessage(contatore)" type="text" name="" id="">
                            <div class="icon-footer">
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script text="type/javascript" src="./js/script.js"></script>
</body>
</html>